<div class="se-pre-con"></div>
<body>
<div class="container-fluid main-container" style="padding:0">
    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
                <!-- First slide -->
        <div class="item active jumbo1">
          <div class="carousel-caption bwidc">
          <div class="boldy">
            <h3 class="icon-container hed1"  data-animation="animated bounceInLeft">
              Financial & Insurance Consultants<br>
              <span class="hed1small"><a href="/services/taxes" class="fronthy">Taxes</a> - <a href="/services/accounting" class="fronthy">Accounting</a> - <a href="/services/insurance" class="fronthy">Insurance</a> - <a href="/services/retirement" class="fronthy">Retirement</a></span>
            </h3><br>
            <a href="/our_services"><button class="btn btn-default btn-lg boldy" data-animation="animated bounceInRight">Learn more</button></a>
          </div>
          </div>

        </div> <!-- /.item -->

        <!-- Second slide -->
        <div class="item jumbo2">
          <div class="carousel-caption">
          <div>
            <h3 class="icon-container" data-animation="animated bounceInLeft">
              Tax Preparation & Filing<br>
              IRS Audit Assistance, Accounting<br>
              Sales Tax & Payroll
            </h3>
          </div>
            <a href="/our_services"><button class="btn btn-default btn-lg" data-animation="animated bounceInRight">Learn more</button></a>
          </div>
        </div><!-- /.item -->

        <!-- Third slide -->
        <div class="item jumbo3">
          <div class="carousel-caption">
          <div>
            <h3 class="icon-container" data-animation="animated bounceInLeft">
              Protect <span class="thiny">your</span> Family<br>
              Grow <span class="thiny">your</span> Business
            </h3>
          </div>
            <a href="/our_services"><button class="btn btn-default btn-lg" data-animation="animated bounceInRight">Learn more</button></a>
          </div>
        </div><!-- /.item -->
        <div class="item jumbo4">
          <div class="carousel-caption">
          <div>
            <h3 class="icon-container" data-animation="animated bounceInLeft">
              Plan <span class="thiny">your</span> Retirement<br>
              Review <span class="thiny">your</span> 401 (K) & Annuities
            </h3>
          </div>
            <a href="/our_services"><button class="btn btn-default btn-lg" data-animation="animated bounceInRight">Learn more</button></a>
          </div>
        </div><!-- /.item -->
        <div class="item jumbo05">
          <div class="carousel-caption">
          <div>
            <h3 class="icon-container"  data-animation="animated bounceInLeft">
              Create <span class="thiny">a better</span> Vision<br>
              <span class="thiny">for your</span> Future<br>
              <span class="thiny">with</span> F.I.C
            </h3>
          </div>
            <a href="/our_services"><button class="btn btn-default btn-lg" data-animation="animated bounceInRight">Learn more</button></a>
          </div>

        </div> <!-- /.item -->
        <div class="item jumbo0 loopy">

          <div class="carousel-caption bwidc">
          </div>
        </div> <!-- /.item -->
      </div><!-- /.carousel-inner -->

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

</div><!-- /.container -->
	<section class="container colpicscont">
		<div class="col-sm-6" style="font-family:caviar;padding-bottom:20px">
			<h2 class="inlineh2">About FICMN</h2>
			<p>F.I.C. is a financial solutions-based company, that tactfully solves problems. We specialize in complicated financial situations which includes IRS Resolutions, Accounting, Probate, Business Transitions, Hostile Takeovers, Audits, Subrogation, Mediation and more.  Good people find themselves in bad situations all the time. Getting ahead of a problem is always your best line of defense.</p>
			<a href="/about"><button class="btn btn-default">Learn more</button></a>
		</div>
		<div class="col-sm-6" style="font-family:caviar">
		<h2 class="inlineh2">Who could benefit from FICMN</h2>
			<p>
				No matter what stage of life you're at, You will find an opportunity to expand upon your current situation. Weather you live in the United statesm Europe or Middle East you will have options to make informed decisions so you can live into your future.
			</p>
			<a href="/our_services"><button class="btn btn-default">Learn more</button></a>
		</div>
	</section>

	<section class="container-fluid" style="padding:0px">
    <a href="/services/taxes"><div class="col-sm-3 sectiono0">
      <h1>TAXES</h1>
    </div></a>
		<a href="/services/accounting"><div class="col-sm-3 sectiono1">
			<h1>ACCOUNTING</h1>
		</div></a>
		<a href="/services/insurance"><div class="col-sm-3 sectiono2">
			<h1>INSURANCE</h1>
		</div></a>
		<a href="/services/retirement"><div class="col-sm-3 sectiono3">
			<h1>RETIREMENT</h1>
		</div></a>
	</section>
  <section class="container-fluid attack">
    <div class="row hidden-sm hidden-xs" style="height:100px"></div>
    <div class="col-md-2 text-center allcaps">
      <h2><a href="/millionaire_club"  style="color:white"><%=Page.find(1).head%></a></h2>
    </div>
    <div class="col-md-2 text-center allcaps">
      <h2><a href="/business_start_ups" style="color:white"><%=Page.find(2).head%></a></h2>
    </div>
    <div class="col-md-2 text-center allcaps">
      <h2><a href="/media_advertising" style="color:white"><%=Page.find(3).head%></a></h2>
    </div>
    <div class="col-md-2 text-center allcaps">
      <h2><a href="/business_evaluation" style="color:white"><%=Page.find(4).head%></a></h2>
    </div>
    <div class="col-md-2 text-center allcaps">
      <h2><a href="/women_and_money" style="color:white"><%=Page.find(5).head%></a></h2>
    </div>
    <div class="col-md-2 text-center allcaps">
      <h2><a href="/fic_community_outreach" style="color:white"><%=Page.find(6).head%></a></h2>
    </div>
  </section>


    <section class="container-fluid">
  <h1 class="newstitle allcaps">Financial news</h1>
    <div class="container newscontainer">
    <div class="col-sm-4 imgb1"></div>
    <div class="col-sm-8">
      <p id="dateb1"></p>
      <h2 id="titleb1"></h2>
      <p id="descb1"></p>
    </div>
    </div>
    <div class="container newscontainer">
    <div class="col-sm-4 imgb2"></div>
    <div class="col-sm-8">
      <p id="dateb2"></p>
      <h2 id="titleb2"></h2>
      <p id="descb2"></p>
    </div>
    </div>
    <div class="container newscontainer">
    <div class="col-sm-4 imgb3"></div>
    <div class="col-sm-8">
      <p id="dateb3"></p>
      <h2 id="titleb3"></h2>
      <p id="descb3"></p>
    </div>
    </div>
  <a href="/financial_news">View more..</a>
  </section>  


	<section class="container-fluid">
	<h1 class="newstitle allcaps">Our News</h1>
	<% @posts.last(5).each do |p| %>
		<div class="container newscontainer" style="padding:10px;padding-left:20px">
      <h2><%=p.title%></h2>
			<p style="font-size:130%"><%=p.content%></p>
		</div>
	<% end %>
	<a href="/news">View more..</a>
	</section>	
</body>
  <script>
  $(document).ready(function(){
  $.getJSON("https://newsapi.org/v1/articles?source=the-wall-street-journal&sortBy=top&apiKey=e652b3f5de2f47998156b7a99c81ad1c",demo) 
  })
  var demo = function(data) {
    console.log(data)
    $("#dateb1").html(datey(data.articles[0].publishedAt))
    $("#titleb1").html("<a href='"+data.articles[0].url+"'>"+data.articles[0].title+"<a>")
    $("#descb1").html(data.articles[0].description)
    $(".imgb1").html("<img src='"+data.articles[0].urlToImage+"'/>")


    $("#dateb2").html(datey(data.articles[1].publishedAt))
    $("#titleb2").html("<a href='"+data.articles[1].url+"'>"+data.articles[1].title+"<a>")
    $("#descb2").html(data.articles[1].description)
    $(".imgb2").html("<img src='"+data.articles[1].urlToImage+"'/>")

    $("#dateb3").html(datey(data.articles[2].publishedAt))
    $("#titleb3").html("<a href='"+data.articles[2].url+"'>"+data.articles[2].title+"<a>")
    $("#descb3").html(data.articles[2].description)
    $(".imgb3").html("<img src='"+data.articles[2].urlToImage+"'/>")
}
  var datey = function(datei){
    var date = new Date(datei);
    return date.toLocaleString()
  }
  </script>
<script>

$(function() {
    //Function to animate slider captions 
    function doAnimations( elems ) {
        //Cache the animationend event in a variable
        var animEndEv = 'webkitAnimationEnd animationend';
        
        elems.each(function () {
            var $this = $(this),
                $animationType = $this.data('animation');
            $this.addClass($animationType).one(animEndEv, function () {
                $this.removeClass($animationType);
            });
        });
    }
    
    //Variables on page load 
    var $myCarousel = $('#carousel-example-generic'),
        $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");
        
    //Initialize carousel 
    $myCarousel.carousel({
    interval: 20000
});
    
    //Animate captions in first slide on page load 
    doAnimations($firstAnimatingElems);
    
    //Pause carousel  
    
    
    //Other slides to be animated on carousel slide event 
    $myCarousel.on('slide.bs.carousel', function (e) {
        var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
        doAnimations($animatingElems);
    });  
    
});
</script>