Dear Admin,
Kindly be informed that a contact us form was just submitted to ficmn.com regarding <%=@contactme.subcat.cat.title.humanize %>,<br>
Here are the details:
			<p>Category: <%= @contactme.subcat.title %></p>
			<p>First name: <%= @contactme.name %></p>
			<p>Phone: <%= @contactme.phone %></p>
			<p>E-mail: <%= @contactme.email %></p>
			<p>Details: <%= @contactme.details %></p>
Best regards from ficmn.com
Management