<section class="jumbotron signbox">
<h1>Log in</h1>
</section>
<section class="container">
<div class="container" style="margin-bottom:40px;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="text-align:center;">
      <a href="<%=user_google_oauth2_omniauth_authorize_path%>" class="btn btn-block btn-social btn-lg btn-google" style="margin:auto;margin-bottom:10px;">
                <span class="fa fa-twitter"></span> Sign in with Google
            </a>
            <a href="<%=user_facebook_omniauth_authorize_path%>" class="btn btn-block btn-social btn-lg btn-facebook" style="margin:auto;">
              <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
            <hr>
      <h2> Or sign in manually</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control input-lg' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-primary btn-lg'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</section>